<section class="place-order-block">
    <div class="container">
        <div class="top-row">
            <h3>{{'orderConfirmation' | translate}}</h3>
        </div>
        <div class="confirmation-text">
            <h3>{{'yourOrder' | translate }}</h3>
            <p>{{'confirmation' | translate}}</p>
            <p>{{'thankYou' | translate}}</p>
            <div class="bottom-btn">
                <a href="/home/products">{{'newOrder' | translate}}</a>
            </div>
        </div>
    </div>
</section>