<section class="place-order-block">
  <div class="container">
    <div class="top-row">
      <h3>Place an order</h3>
      <form>
        <input type="search" name="" placeholder="Search">
      </form>
    </div>
    <div class="po-data-table">
      <div class="pod-heading-row">
        <div class="number po-col">Product number</div>
        <div class="name po-col">Product name</div>
        <div class="img po-col">Product image</div>
        <div class="qty po-col">Quantity</div>
        <div class="action po-col">Action</div>
      </div>
      <div class="pod-data-row" *ngFor="let item of products">
        <div class="number po-col">{{item.product_name}}</div>
        <div class="name po-col">{{item.product_name}}</div>
        <div class="img po-col"><img src="{{item.imageUrl}}" alt=""></div>
        <div class="qty po-col">
          <span>Quantity</span>
          <div class="qtybox">
            <button type="button" id="sub" class="sub">-</button>
            <input type="number" id="1" value={{item.quantity}} min="1" max="100" />
            <button type="button" id="add" class="add">+</button>
          </div>
        </div>
        <div class="action po-col"><span>Action</span><a href="javascript: void(0)" (click)="updateAddCart()">Add to
            cart</a></div>
      </div>
    </div>
    <div class="bottom-btn">
      <a href="#">Place order</a>
    </div>
  </div>
</section>
