
<section class="portail-block">
  <div class="container">
    <div class="title-row">
      <h2>Portal</h2>
    </div>
    <div class="wrap">
      <div class="listing d-flex flex-wrap">
        <div class="box">
          <div class="inside">
            <h3>My Information</h3>
            <a href="javascript: void(0)" [routerLink]="['/home/information']" routerLinkActive="router-link-active"  class="border-btn">Edit</a>
          </div>
        </div>
        <div class="box">
          <div class="inside">
            <h3>Contact</h3>
            <a href="javascript: void(0)" class="border-btn">Edit</a>
          </div>
        </div>
        <div class="box">
          <div class="inside">
            <h3>Place an order</h3>
            <a href="javascript: void(0)" [routerLink]="['/home/product']" class="border-btn">Go</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

