
<section class="my-information">
  <div class="container">
    <div class="wrap">
      <div class="title-row">
        <h2>My information | <span class="client-id">Client ID</span></h2>
      </div>
      <form class="common-form">
        <div class="field-row">
          <div class="field-group">
            <label>Name</label>
            <input type="text" name="" required="" value="John Doe">
          </div>
          <div class="field-group">
            <label>Email</label>
            <input type="Email" name="" value="info@test.com">
          </div>
        </div>
        <div class="field-row">
          <div class="field-group">
            <label>Password</label>
            <input type="password" name="" required="">
          </div>
          <div class="field-group">
            <label>Password confirmation</label>
            <input type="password" name="" required="">
          </div>
        </div>
        <div class="field-row">
          <div class="field-group field-error">
            <label>Phone</label>
            <span class="error-span">error</span>
            <input type="text" name="" required="">
          </div>
          <div class="field-group">
            <label>Address</label>
            <input type="text" name="" required="" value="125 rue de la Pierre">
          </div>
        </div>
        <div class="field-row">
          <div class="field-group">
            <label>Postal Code</label>
            <input type="text" name="" required="" value="G4G0A8">
          </div>
          <div class="field-group">
            <label>City</label>
            <input type="text" name="" required="" value="Québec">
          </div>
        </div>
        <div class="field-row">
          <div class="field-group">
            <label>Company name</label>
            <input type="text" name="" required="" value="Global Corporation">
          </div>
        </div>
        <div class="bottom-row">
          <!-- <div class="forgot-link">
                   <a href="#">Forget your password</a>
                </div> -->
          <input type="submit" name="" value="Edit">
        </div>
      </form>

      <div class="title-row">
        <h2>Account information</h2>
      </div>

      <div class="note">Account representative: John Doe, 418-888-8888</div>

    </div>
  </div>
</section>

