<section class="portail-block">
    <div class="container">
        <div class="title-row">
            <h2>{{'home' | translate}}</h2>
        </div>
        <div class="wrap">
            <div class="listing d-flex flex-wrap">
                <div class="box">
                    <div class="inside">
                        <h3>{{'manageProducts'|translate}}</h3>
                        <a href="javascript: void(0)" [routerLink]="['/admin/products']" routerLinkActive="router-link-active" class="border-btn">Go</a>
                    </div>
                </div>
                <div class="box">
                    <div class="inside">
                        <h3>{{'manageCustomers' | translate}}</h3>
                        <a href="javascript: void(0)" [routerLink]="['/admin/customers']" class="border-btn">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>