<header class="site-header">
    <div class="top-row">
       <div class="container">
          <div class="ct-row d-flex flex-wrap">
             <div class="lang"><a href="#">Français</a></div>
             <div class="logout" *ngIf="!generalService.hideLinks"><a href="javascript: void(0)" (click)="handleLogout">Log out</a></div>
          </div>
       </div>
    </div>
    <div class="main-menu" *ngIf="!generalService.hideLinks">
       <div class="container">
          <div class="ct-row d-flex flex-wrap">
             <div class="logo">
                <a href="#"><img src="../../../assets/images/logo.svg"></a>
             </div>
             <div class="nav-toggle" (click)="showNav()"><i></i></div>
             <div class="menu">
                <ul>
                   <li [routerLink]="['/home/portal']" routerLinkActive="active"><a href="javascript: void(0)"  >Home</a></li>
                   <li [routerLink]="['/home/information']" routerLinkActive="active"><a href="javascript: void(0)" >My Information</a></li>
                   <li [routerLink]="['/home/products']" routerLinkActive="active"><a href="javascript: void(0)"  >Place an order</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </header>