<header class="site-header">
    <div class="top-row">
       <div class="container">
          <div class="ct-row d-flex flex-wrap">
             <div class="lang"><a href="#">Français</a></div>
          </div>
       </div>
    </div>
    <div class="main-menu">
       <div class="container">
          <div class="ct-row d-flex flex-wrap">
             <div class="logo">
                <a href="#"><img src="../../../assets/images/logo.svg"></a>
             </div>
             <div class="nav-toggle"><i></i></div>
             <div class="menu">
                <ul>
                   <li><a href="#">Home</a></li>
                   <li><a href="#">My Information</a></li>
                   <li><a href="#">Place an oder</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </header>