<header class="site-header" *ngIf="!isAdmin">
    <div class="top-row">
        <div class="container">
            <div class="ct-row d-flex flex-wrap">
                <div class="lang"><a href="javascript: void(0)" (click)="changeLanguage()">{{selectedLanguage}}</a></div>
                <div class="logout" *ngIf="!generalService.hideLinks"><a href="javascript: void(0)" (click)="handleLogout()">{{'logOut' | translate}}</a></div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <div class="ct-row d-flex flex-wrap" [ngClass]="{'content-center': generalService.hideLinks}">
                <div class="logo">
                    <a href="/home"><img src="../../../assets/images/logo.svg"></a>
                </div>
                <div class="nav-toggle" (click)="showNav()" *ngIf="!generalService.hideLinks"><i></i></div>
                <div class="menu" *ngIf="!generalService.hideLinks">
                    <ul>
                        <li [routerLink]="['/home/portal']" routerLinkActive="active"><a href="javascript: void(0)">{{'home' | translate}}</a></li>
                        <li [routerLink]="['/home/information']" routerLinkActive="active"><a href="javascript: void(0)">{{'myInfo' | translate}}</a></li>
                        <li [routerLink]="['/home/products']" routerLinkActive="active"><a href="javascript: void(0)">{{'placeOrder' | translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="site-header" *ngIf="isAdmin">
    <div class="top-row">
        <div class="container">
            <div class="ct-row d-flex flex-wrap">
                <div class="lang"><a href="javascript: void(0)" (click)="changeLanguage()">{{selectedLanguage}}</a></div>
                <div class="logout" *ngIf="!generalService.hideLinks"><a href="javascript: void(0)" (click)="handleLogout()">{{'logOut' | translate}}</a></div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <div class="ct-row d-flex flex-wrap" [ngClass]="{'content-center': generalService.hideLinks}">
                <div class="logo">
                    <a href="/home"><img src="../../../assets/images/logo.svg"></a>
                </div>
                <div class="nav-toggle" (click)="showNav()" *ngIf="!generalService.hideLinks"><i></i></div>
                <div class="menu" *ngIf="!generalService.hideLinks">
                    <ul>
                        <li [routerLink]="['/admin/portal']" routerLinkActive="active"><a href="javascript: void(0)">{{'home' | translate}}</a></li>
                        <li [routerLink]="['/admin/customers']" routerLinkActive="active"><a href="javascript: void(0)">{{ 'manageCustomers' | translate }}</a></li>
                        <li [routerLink]="['/admin/products']" routerLinkActive="active"><a href="javascript: void(0)">{{'manageProducts' | translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>