.margin-0 {
    margin-top: 0px;
}

.d-flex {
    display: flex;
}

.align-baseline {
    align-items: baseline;
}

.align-end {
    align-items: end;
}

.justify-left {
    justify-content: left;
}

.margin-top-sm {
    margin-top: 16px;
}

.align-center {
    align-items: center;
}

.width-20 {
    width: 20% !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 12px;
}

.slider.round:before {
    border-radius: 50%;
}

.gap-20 {
    gap: 20%
}

.width-100 {
    width: 100% !important;
}

.day {
    display: inline-block;
    width: 25%;
}

.day input {
    width: 20px !important;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

.day label {
    display: inline-block;
    font-weight: normal;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}